.download-name {
  font-size: 12px;
  word-wrap: break-word;
}
.active-download, .waiting-download, .stopped-download, .download {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

/* fix table  layout to break words */
@media (max-width: 767px) {
.active-download, .waiting-download, .stopped-download, .download {
  table-layout: fixed;
}
}

.download-graph {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.stats {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.stats li {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.download-progress {
  cursor: pointer;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.download-controls {
  width: 65px;
  padding: 5px;
}
.download-controls .btn-group {
  height: 28px;
  width: 100%;
  float: right;
}

.download-controls .btn-group .btn {
  height: 100%;
}
.download-controls .btn-group .btn i {
  height: 100%;
  font-size: 16px;
  color: gray;
}
.download-overview {
  cursor: pointer;
  padding-left: 5px;
}
.download-detail {
  cursor: pointer;
}
.download-detail .stats li {
  width: 150px;
  margin-bottom: 5px;
}
.download-detail h4 {
  margin-left: 10px;
}
.download-files {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.download-files li {
  padding: 5px;
  margin: 5px;
}
