@media (min-width: 768px) {
  .modal-large {
    width: 80%; /* responsive width */
    margin-left:-40%; /* width/2) */
  }
}

.modal-header {
    /*padding-bottom: 0px;*/
    margin-bottom: 0px;
}

.modal-body {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.modal-body textarea {
  width: 100%;
}

.modal-advanced-title {
    font-weight: bold;
    margin-bottom: 0px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.modal-advanced-options {
  /*width: 100%;
  margin-bottom: 10px;*/
  margin-top:0px;
  margin-bottom: 2px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.modal-form-input-verylarge {
    width: 95%;
}

.modal-form-input-number {
    width: 80px;
}