.pagination ul > li:not(.disabled) {
  cursor: pointer;
}

.pagination ul > li.active > a {
  color: #fff;
  background-color: #428bca;
}

.label-active, .badge-active, .progress-active .bar {
  background-color: #62C462;
}
.progress-success .bar {
  background-color: #468847 !important;
}

.alerts {
  position: fixed;
  left: 1em;
  right: 1em;
  bottom: 1em;
  z-index: 900;
  margin: 0;
  padding: 0;
  background: white;
  background: rgba(255,255,255,0.7);
}
.alert {
  margin: 1em;
  border-width: 0.5ex;
}

/* fix modal overflow on low resolutions */
.modal {
  position: absolute;
}
@media (min-width: 980px) {
  body {
    padding-top: 60px;
  }
}

.download-graph {
  font-size: x-small;
  font-family: sans-serif;
}

#download-graph {
  float: right;
}
@media (max-width: 767px) {
  #download-graph {
    float: none;
    width: 100%;
  }
}

#download-filter {
  margin: 0;
  height: auto;
}

#filters label {
  display: inline-block;
  white-space: nowrap;
}
