body {
  overflow-y: scroll;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
}

.pagination ul > li:not(.disabled) {
  cursor: pointer;
}

.pagination ul > li.active > a {
  color: #fff;
  background-color: #428bca;
}

.label-active, .badge-active, .progress-active .bar {
  background-color: #62C462;
}
.progress-success .bar {
  background-color: #468847 !important;
}

.alerts {
  position: fixed;
  right: 6px;
  z-index: 900;
  width: 40%;
}

.alert {
  float: right;
  clear: right;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* fix modal overflow on low resolutions */
.modal {
  position: absolute;
}

.download-graph {
  font-size: x-small;
  font-family: sans-serif;
}

#download-graph {
  float: right;
}
@media (max-width: 767px) {
  #download-graph {
    float: none;
    width: 100%;
  }
}

#download-filter {
  margin: 0;
  height: auto;
}

#filters label {
  display: inline-block;
  white-space: nowrap;
}

.nav-header {
  display: block;
  padding: 3px 0;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
