.git
screenshots
src
.gitignore
.prettierignore
.prettierrc
CONTRIBUTING.md
LICENSE
README.md
app.json
directurl.md
docker-compose.yml
favicon.ico
node-server.js
package-lock.json
package.json
postcss.config.js
static.json
webpack.config.js
webui-aria2.spec
